* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
html {
	height: 100%
}
body {
	height: 100%
}
#canvasArea {
	width: 100%;
	height: 100px;
}
#top {
	height: 100%;
}
#top #map {
	height: 100%;
	border: 1px solid #333;
}
#top .info {
	width: 100%;
	padding:2px;
}
#top .info > .ui-grid-c > .ui-block-a {
	width:50%;
}
#top .info > .ui-grid-c > .ui-block-b {
	width:35%;
}
#top .info > .ui-grid-c > .ui-block-c {
	margin-top: 11px;
}
#top .info > .ui-grid-c > .ui-block-d {
    margin-top: 11px;
}

#contents {
    position:relative;
}

#memberList {
    position:absolute;
    top:10px; 
    right:10px;
    
    border-collapse:collapse; 
    border-spacing:0;
}

#memberList tr:nth-child(even) {
    background-color:#FCFCFC;
}
#memberList tr:nth-child(odd) {
     background-color:#F0F0F6;
}
#memberList tr.selected {
     background-color:#e0e0e6;
}

#memberList tr td {
    padding: 10px;
    border-top: 1px solid #dddddd;
}
