* {
	box-sizing:border-box;
	margin:0px;
	padding:0px;
}
body {
	padding:50px;
	font:14px "Lucida Grande",Helvetica,Arial,sans-serif;
}
#top {
	height:100%;
	width:100%;
}
#map {
	height:100%;
	width:100%;
	border:1px solid #333;
	margin-top:0.6em;
}
#top [data-role=header] {
	width:100%;
}
#top [data-role=header]> div {
	height:55px;
}
#top [data-role=header]> .ui-block-a> label {
	line-height:55px;
}
#top [data-role=header]> .ui-block-b {
	/*width:100%;*/
}
#top [data-role=header]> .ui-block-c> div {
	margin-top:11px;
}
